.SVGForm {
  position: absolute;
  right: 0;
  background-image: url("./SVGForm.svg");
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.SVGArrowOne {
  position: absolute;
  height: 205.5px;
  width: 384.75px;
  left: 221.5px;
  top: 98.5px;
}

.SvgArrowTwo {
  position: absolute;
  height: 104.5px;
  width: 344px;
  left: 221.5px;
  top: 268px;
}