.form {
  position: absolute;
  top: calc(50% + 40px);
  right: 50%;
  transform: translateY(-50%) translateX(50%);
  width: 400px;
  height: 750px;
  background-color: #EFEFEF;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 5px 5px 50px 5px rgba(0, 0, 0, 0.10);
  border: 2px dotted orangered;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  margin: 40px 25px 40px 25px;
}

.container__login {
  display: block;
}

.error {
  color: red;
  margin-top: 7px;
  margin-left: 35px;
  font-size: 13px;
}

.disable {
  border: none;
  cursor: not-allowed;
  margin: 25px 0 0 50px;
  width: 250px;
  height: 55px;
  border-radius: 20px;
  color: white;
  font-family: Cocomat, sans-serif;
  font-size: 21px;
  background: gray;
}

.login {
  border: none;
  cursor: pointer;
  margin: 25px 0 0 50px;
  width: 250px;
  height: 55px;
  border-radius: 20px;
  color: white;
  font-family: Cocomat, sans-serif;
  font-size: 21px;
  background: linear-gradient(162deg, #FCA311 0%, #D15 100%);
}

.registration {
  text-align: center;
  line-height: 1.5em;
  margin: 20px;
}

.errorLog {
  text-align: center;
  color: red;
  margin-top: 15px;
}
