.container {
  margin-top: 200px;
}

.logout {
  border: none;
  cursor: pointer;
  margin: 25px 0 0 50px;
  width: 250px;
  height: 55px;
  border-radius: 20px;
  color: white;
  font-family: Cocomat, sans-serif;
  font-size: 21px;
  background: linear-gradient(162deg, #FCA311 0%, #D15 100%);
}